<div class="container">
<!--   <button type="button" class="btn btn-success" ng-click="toggleSampleData()">Toggle Sample Data</button> <br><br>-->
  <md-content class="md-padding">
    <md-card ng-repeat="habit in habits | filter:{active:true}" style={{color(habit)}}>
      <md-card-content>
        <h1 class="md-display-1">{{ habit.habitName }}</h1>
        <div layout="row" layout-align="space-around center">
          <div>
            Reminder: {{ habit.reminderTime | date:'shortTime' }}
          </div>
          <div>
            Due: {{ habit.dueTime | date:'shortTime' }}
          </div>
          <div>
            Record: {{ habit.streakRecord }}
          </div>
          <div>
            <h1 class="md-display-3">{{ habit.streak }}</h1>
          </div>
        </div>

      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="editHabit(habit)">Edit</md-button>
        <md-button ng-if="buttonState(habit, 'pending')" class="md-raised md-primary" ng-click="checkinHabit(habit)">Did it!</md-button>
        <md-button ng-if="buttonState(habit, 'completed')" ng-disabled="true" class="md-raised md-primary">Completed</md-button>
        <md-button ng-if="buttonState(habit, 'failed')" ng-disabled="true" class="md-raised md-warn">Failed</md-button>
      </div>
      <div class="create" ng-show="current.show">

<!--         <div class="input-group clockpicker">
            <input type="text" class="form-control" value="09:30">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
        <script type="text/javascript">
        $('.clockpicker').clockpicker();
        </script> -->

        <form name="habitForm" ng-submit="updateHabit()">
          <table>
            <tr>
              <td>
                <label>
                  Daily habit:
                </label>
              </td>
              <td>
                <input type="text" required readonly ng-model="habit.habitName"/>
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  Remind me at:
                </label>
              </td>
              <td>
                <input type="time" required ng-model="habit.reminderTime"/>
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  Due at:
                </label>
              </td>
              <td>
                <input type="time" required ng-model="habit.dueTime"/>
              </td>
            </tr>
          </table>
          <div class="md-actions" layout="row" layout-align="end center">
          <md-button type="submit" class="md-raised md-primary">
            Update habit
          </md-button>
          <md-button type="button" class="md-raised md-warn" ng-click="deactivateHabit()">
            Deactivate habit
          </md-button>
          </div>
        </form>
      </div>
    </md-card>
  </md-content>
